{% embed 'partials/base.html.twig' %}
    {% block content %}

 <div id="appointments">
<iframe src="https://calendar.google.com/calendar/selfsched?ctz=Asia%2FDubai&sstoken=UVBRSURUcjM2cUZnfGRlZmF1bHR8OGY2Yzg5OGUyOWU0NGU3MjM1N2M4MWRmODFkOWE0Njg" frameborder="0" scrolling="yes" width="100%" height="-webkit-fill-available" style="height: -webkit-fill-available;"></iframe>
</div>



    
    {% endblock %}
{% endembed %}  
