{% extends 'partials/base.html.twig' %}
{% block content %}
<a id="hero" href="#" style="visibility: hidden;"></a>
 <section id="styles" style="padding: 90px 0 72px; background: #fff;">
  <div id="row">

   {{ page.content }}
   <div id="calendar-div">
   <iframe id="calendar" src="https://calendar.google.com/calendar/embed?src=nyu.edu_9oi7nh55ivrqsgv5vc6iurr758%40group.calendar.google.com&ctz=Asia/Dubai" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
   </div>
   </div>
  </section>
{% endblock %}
